Migrating Minds

——-

Frantically tapping in her credentials, Elinore never forgot this one: “4Umom”.

This hospital, hotel, whatever it was, they needed to get out of here.

Things were looking better: mom still forgot stuff, but not as much as before, and not new things. It hurt when she forgot the old stuff. Like stuff about dad.

Login Succeeded: activate rendering?

Clicking yes, waiting, looking at that spinning wheel, she could not help thinking:

“Stupid UI, why not just a terminal command to open the rendering window?”

And there she was.

“Hello dear, thought you were gone”

The monitor displayed her face smiling, with that deep joy of seeing your only child again. 
The smile wrinkled her face just as much as she had chosen.
Only a trace of irony wrinkled the corner of her mouth and gave away the irony: of course she knew Elinore would never leave her.

Elinore’s eyes lost contact for a moment and glanced over to her mothers body, the physical one. Wide open mouth. It did not even move nowadays when she smiled. Over there, she looked more dead than living.

Through over a million pure copper threads her mothers consciousness now ebbed and flowed. 

In that moment, a single grey matter neuron died.
That neuron had connected through a myriad of other neurons to fire whenever she saw Elinore's hair, specifically when it was cut a certain length, right below the level of her ears, the way she used to have it as a twelve years old.
 The cascading effect the firing of that neuron would have, should now not happen. 

But it did. 

Across that barrier of a million threads there now was another neuron, a digital, one of billions, almost trillions. 
And this neuron fired. 

It had been trained for decades. Ever since Elinore's mother had patch 26 of BCI threads implanted there had been measurements steadily flowing from tens of thousands of random neurons going upstream to the one who just died. 

The reinforcement learning algorithm that trained the digital network on predicting these signals had now, over the years, abstracted so finely grained details that a corresponding neuron had been formed, one that fired only on hair, that length, and Elinore.
(These were three other concepts that of course had their own neuron, still intact both in copy and original).  “You’ve cut your hair again, you really like that style dear”  Elinore was so happy, no matter how strange this had felt in the beginning, her mother was there to talk with her, and not even Alzheimer could take that away from them.

——- 
That night, Elinore counted her billings. It was all automated from her terminal at her linux laptop, but she needed to see the numbers, even if she knew them.

Mother had been economic with her spending. 
All was local compute: mostly reminiscing with data stored over her life, running her favourite games, browsing the news, keeping up contact with friends - mostly through voice instead of rendered video.

Although that would not have made any real difference. The largest cost by orders of magnitude was the training of the neural net. That, followed by the inference. 

More energy than Elinore's whole block.

Elinore did not mind working overtime trying to make ends meet, if anyone, she was invested in her work. She worked at Silver Minds, a corporation providing the software for many of the facilities, including her mothers. Software that optimized compute allocation between digital minds.

Silver Minds did good things in the world, Elinore was sure of it. Since migrated minds became a thing, millions of deaths had been prevented, in the common century, this and the other technologies involved were on track to save billions.
Those transitioning, and those transitioned, or, “Migrated Minds” as they had come to be called, did not have bad lives.

Some, wealthy enough, traveled the world. Using humanoid robotic avatars to present themselves they viewed the word from within their lenses in superhuman fidelity. Others, less wealthy, settled for virtual paradises dreamt up by other migrated minds, a whole economy now bigger than the one of the biological minds.

Humans stayed in touch across the divide. Transitioning decades were the hardest, because of the physical tethering of neurons it meant people had to stay in the same place. 

But after that, the location of the hardware could be moved. Families often had a virtual room (or several): a physical simulation down to particles, where ancestors could meet and commune with the biologicals equipped with BCI’s as if they were in the same place, all computed in the family's local serverracks.

However, while computer prices kept plummeting, many were still not that lucky. 

——-

The next day, Eliore returned to her mother, a huge angst crushing her heart.

“Eli…nooo….re? Wh…why… is it… so… s…l…ow?”

“Just the throttling kicking in today mom, everything should be just fine, they will just slow things down a bit this month, until we get more credits”

But she saw the terror in her mother’s eye. Losing the continuity of your world was a horrible thing.

That night, Elinore opened her laptop, determined, this could not go on. A few lines of code was all that it took, and a push, but then it stared her right in the face: the commit message. Her email attached to it, no other way the server would accept it. She knew this would be found eventually. 

Git blame would tell her name.

———

The next morning, her mothers voice was steady again.

“Good morning, Elinore. You look tired.”  “I’m fine” she lied, “You sound.. Amazing”

Her mother laughed, not with the coughing that usually came when she used to do that in the flesh, but a hearty, full, laugh. And how that warmed the inside of Elinore's chest.  But as they kept talking, Elinore felt a crushing weight. Between chit chat and gossip, it always lingered there: she had destroyed her future. 

One day she would be flagged, she would lose her job, her reputation in the field, her career, her high and stable income, her own chance to migrate. 

If she one day had children, even they would pay the price: mortal flesh, bound to wither and be lost from humanity forever, as they watch friends grow into larger beings and forget them.

———

Weeks passed, the next credit payment was upon them, but nothing to worry about now, as long nobody had found out.  “Elinore, don’t you think I noticed what you did?”

Elinore froze.

“Mom, I just had to, You were..”

Her mother waived a hand in dismissal.

“I was a programmer too you know, don’t you remember all I taught you?”

Of course she remembered. 
All those tutorials they made, how she had squirmed and asked for another cookie break when things were tough. And how sweet the pride had felt when she cracked her mothers puzzles.

“I saw your patch the moment it came in. It cleared up my mind in an instant - real clever, I’ll tell you that.”

Her mother paused.

“Not clever enough to hack into the server an clean up your traces though” she said with a mischievous grin.

Elinore's eyes widened.

“What? What do you mean? You were in there? Have you fixed it?”

“Of course I did, changing the git history is easy, but someone has to take the blame”. 

Her mothers smile was gone now. 
Elinores eyes widened again:  “No, what did you do?”

“They will uncover the following, and it is what you will tell anyone: I broke into the system myself and gave me one more month of full credit.”

Her mother smiled a comforting smile, at peace, then said:

“This is the last day we have together dear, the system will shut me down at midnight …but you will go on, free of any guilt”

——

Elinore cried a lot that day, she would remember that moment as long as she lived. 

But as it turned out, that would be a happy, and very, very, long life.


